[aa]
# Actual config for AA service is provided in .env file
# Any settings in this section are just for AA users
url = "http://localhost:3001"
jwt = "foo.bar.baz"           # Put shared JWT for AA here

[webhook]
host = "localhost:4321"
jwt = ""                # shared JWT for webhook

# JWT secret key is passed in as JWT_SECRET through env var/file for security

[dirs]
# All paths should be absolute
files = "/path/to/file/storage/"
c2pa_manifest_templates = "/path/to/c2pa-manifest-templates/storage/"
enc_keys = "/path/to/metadata-encryption-key/storage/"

[folder_preprocessor]
sync_folder_root = "/path/to/sync/folder/"

[folder_database]
user = "user"
password = "password"
host = "postgres"
port = "5432"
database = "database"

[bins]
# All of these are optional.
# The CLI tools you use will tell you if they are needed.

rclone = "/usr/bin/rclone"
c2patool = "/usr/local/bin/c2patool"
w3 = "/usr/bin/w3"                   # https://web3.storage/docs/w3cli/

[c2pa]
private_key = "/path/to/c2pa/private.key"
sign_cert = "/path/to/c2pa/cert.pem"

[numbers]
# Numbers protocol
token = "MY_AUTH_TOKEN"
nft_contract_address = "0xabc" # Optional

[browsertrix]
# app.browsertrix.com
user = "user"
password = "password"
