name: release
on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - run: |
          just releases
      - uses: softprops/action-gh-release@v2
        with:
          files: build/starling_*
